body{
   background-size: cover;
}
h1{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: darkseagreen;
   background-color: rgb(204, 231, 254);
   font-size: 30px;
}

canvas{
    margin: 30px;
    border-color: rgb(162, 155, 142);
    background-color: rgb(253, 255, 255);
    border-radius: 50px;
   padding: 50px;
}